/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Feb, 2017, 11:30:12 PM
    Author     : RAJAT-PC
*/

.error{
    color: red;
}
input[type=number] {-moz-appearance: textfield;}


::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}